<!DOCTYPE html>
<html lang="en">
<head>
  <%-include('fragments/head')%>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/kine.css">
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,200,500,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    
    
    
    <title>Kinesiología</title>
</head>
<body>
    <%-include('fragments/navbar',{login:login})%>
    
    
        
                    
                    
                       
                        <section>
                          <div class="especialidades-tag"> </div>
                          <div class="banner-especialidades-single" style="background: url('images/FondoKine.png')">
                            <div class="container title-especialidades-single">

                              <div class="title-especialidades-single-contenedor">
                                <h1 class="especialidad">Kinesiología</h1>
                              </div>		
                            </div>
                          </div>
                          <div class="pagina-generica-container">
                            <div class="container container-menu">
                              <div class="pagina-generica-menu">
                                <a href="#general" class="espec_tab">general</a><a href="#personal" class="espec_tab">personal</a><a href="#equipamiento" class="espec_tab">equipamiento</a>
                              </div>
                            </div>
                          </div>
                        </section>
                            
                                
                               
                              
                    
                  
                 

                  <div class="container">
                    <div class="row">
                      <section id="general">
                  <div>   
                    <h2 class="mb-lg-3 mb-3 centrar-texto" style="margin-top: 70px; margin-left: 50px;">
                        ¿Por qué y desde cuando hacemos esto?
                    </h2>

                    <p style="margin-left: 50px; margin-right: 50px;">
                        El objetivo es lograr estabilizar los síntomas de asma,
                        asociados a factores emocionales como disparadores de
                        las crisis de asma, para mejorar la calidad de vida. El
                        asma es una enfermedad crónica q con un abordaje
                        interdisciplinario, puede mejorar su manejo y disminuir
                        las consultas e internaciones. Estamos trabajando en el
                        programa de asma grave desde junio del 2019
                    </p>
                  </div>
                </section>
                
            </div>
        </div>

                <section id= "personal" class="container">

                  
                <div class="row active-with-click">
                  <div class="col-md-4 col-sm-6 col-xs-12">
                      <article class="material-card Indigo">
                          <h2>
                              <span>Dr Gonzalez</span>
                              <strong>
                                  <i class="fa fa-user-md"></i>
                                  Especialidad Kinesiología
                              </strong>
                          </h2>
                          <div class="mc-content">
                              <div class="img-container">
                                  <img class="img-container" src="images/areas/medico1.jpg">
                              </div>
                              <div class="mc-description">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint id assumenda repellendus obcaecati. Doloribus dicta earum in reiciendis quisquam reprehenderit assumenda vitae eligendi quam perferendis? Aliquid atque fugiat aut nam!                              </div>
                          </div>
                          <a class="mc-btn-action">
                              <i class="fa fa-bars"></i>
                          </a>
                          <div class="mc-footer">
                              <h4>
                                  Social
                              </h4>
                              <a class="fa fa-fw fa-facebook"></a>
                              <a class="fa fa-fw fa-twitter"></a>
                              <a class="fa fa-fw fa-linkedin"></a>
                              <a class="fa fa-fw fa-google-plus"></a>
                          </div>
                      </article>
                  </div>


                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <article class="material-card Indigo">
                            <h2>
                                <span>Dr Gonzalez</span>
                                <strong>
                                    <i class="fa fa-user-md"></i>
                                    Especialidad Kinesiología
                                </strong>
                            </h2>
                            <div class="mc-content">
                                <div class="img-container">
                                    <img class="img-container" src="images/areas/medico2.jpg">
                                </div>
                                <div class="mc-description">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint id assumenda repellendus obcaecati. Doloribus dicta earum in reiciendis quisquam reprehenderit assumenda vitae eligendi quam perferendis? Aliquid atque fugiat aut nam!                              </div>
                            </div>
                            <a class="mc-btn-action">
                                <i class="fa fa-bars"></i>
                            </a>
                            <div class="mc-footer">
                                <h4>
                                    Social
                                </h4>
                                <a class="fa fa-fw fa-facebook"></a>
                                <a class="fa fa-fw fa-twitter"></a>
                                <a class="fa fa-fw fa-linkedin"></a>
                                <a class="fa fa-fw fa-google-plus"></a>
                            </div>
                        </article>
                    </div>

                      <div class="col-md-4 col-sm-6 col-xs-12">
                          <article class="material-card Indigo">
                              <h2>
                                  <span>Dr Gonzalez</span>
                                  <strong>
                                      <i class="fa fa-user-md"></i>
                                      Especialidad Kinesiología
                                  </strong>
                              </h2>
                              <div class="mc-content">
                                  <div class="img-container">
                                      <img class="img-container" src="images/areas/medico3.jpg">
                                  </div>
                                  <div class="mc-description">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint id assumenda repellendus obcaecati. Doloribus dicta earum in reiciendis quisquam reprehenderit assumenda vitae eligendi quam perferendis? Aliquid atque fugiat aut nam!                              </div>
                              </div>
                              <a class="mc-btn-action">
                                  <i class="fa fa-bars"></i>
                              </a>
                              <div class="mc-footer">
                                  <h4>
                                      Social
                                  </h4>
                                  <a class="fa fa-fw fa-facebook"></a>
                                  <a class="fa fa-fw fa-twitter"></a>
                                  <a class="fa fa-fw fa-linkedin"></a>
                                  <a class="fa fa-fw fa-google-plus"></a>
                              </div>
                          </article>
                      </div>


                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <article class="material-card Indigo">
                                <h2>
                                    <span>Dr Gonzalez</span>
                                    <strong>
                                        <i class="fa fa-user-md"></i>
                                        Especialidad Kinesiología
                                    </strong>
                                </h2>
                                <div class="mc-content">
                                    <div class="img-container">
                                        <img class="img-container" src="images/areas/medico4.jpg">
                                    </div>
                                    <div class="mc-description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint id assumenda repellendus obcaecati. Doloribus dicta earum in reiciendis quisquam reprehenderit assumenda vitae eligendi quam perferendis? Aliquid atque fugiat aut nam!                              </div>
                                </div>
                                <a class="mc-btn-action">
                                    <i class="fa fa-bars"></i>
                                </a>
                                <div class="mc-footer">
                                    <h4>
                                        Social
                                    </h4>
                                    <a class="fa fa-fw fa-facebook"></a>
                                    <a class="fa fa-fw fa-twitter"></a>
                                    <a class="fa fa-fw fa-linkedin"></a>
                                    <a class="fa fa-fw fa-google-plus"></a>
                                </div>
                            </article>
                        </div>

                          <div class="col-md-4 col-sm-6 col-xs-12">
                              <article class="material-card Indigo">
                                  <h2>
                                      <span>Dr Gonzalez</span>
                                      <strong>
                                          <i class="fa fa-user-md"></i>
                                          Especialidad Kinesiología
                                      </strong>
                                  </h2>
                                  <div class="mc-content">
                                      <div class="img-container">
                                          <img class="img-container" src="images/areas/medico5.jpg">
                                      </div>
                                      <div class="mc-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint id assumenda repellendus obcaecati. Doloribus dicta earum in reiciendis quisquam reprehenderit assumenda vitae eligendi quam perferendis? Aliquid atque fugiat aut nam!                              </div>
                                  </div>
                                  <a class="mc-btn-action">
                                      <i class="fa fa-bars"></i>
                                  </a>
                                  <div class="mc-footer">
                                      <h4>
                                          Social
                                      </h4>
                                      <a class="fa fa-fw fa-facebook"></a>
                                      <a class="fa fa-fw fa-twitter"></a>
                                      <a class="fa fa-fw fa-linkedin"></a>
                                      <a class="fa fa-fw fa-google-plus"></a>
                                  </div>
                              </article>
                          </div>



                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <article class="material-card Indigo">
                                    <h2>
                                        <span>Dr Gonzalez</span>
                                        <strong>
                                            <i class="fa fa-user-md"></i>
                                            Especialidad Kinesiología
                                        </strong>
                                    </h2>
                                    <div class="mc-content">
                                        <div class="img-container">
                                            <img class="img-container" src="images/areas/medico6.jpg">
                                        </div>
                                        <div class="mc-description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint id assumenda repellendus obcaecati. Doloribus dicta earum in reiciendis quisquam reprehenderit assumenda vitae eligendi quam perferendis? Aliquid atque fugiat aut nam!                              </div>
                                    </div>
                                    <a class="mc-btn-action">
                                        <i class="fa fa-bars"></i>
                                    </a>
                                    <div class="mc-footer">
                                        <h4>
                                            Social
                                        </h4>
                                        <a class="fa fa-fw fa-facebook"></a>
                                        <a class="fa fa-fw fa-twitter"></a>
                                        <a class="fa fa-fw fa-linkedin"></a>
                                        <a class="fa fa-fw fa-google-plus"></a>
                                    </div>
                                </article>
                            </div>

                              


                                
                              </div>
                              
                   </section>
              




                


           
      
   


    <section id="equipamiento"> 
   <h1>equipamiento</h1>
</section>
    
          

<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="../js/jquery.material-cards.min.js"></script>
<script>
    $(function() {
        $('.material-card').materialCard({
            icon_close: 'fa fa-chevron-left',
            icon_open: 'fa fa-bars',
            icon_spin: 'fa-spin-fast',
            card_activator: 'click'
        });

$('.active-with-click .material-card').materialCard();

        window.setTimeout(function() {
            $('.material-card:eq(1)').materialCard('open');
        }, 2000);

        $('.material-card').on('shown.material-card show.material-card hide.material-card hidden.material-card', function (event) {
            console.log(event.type, event.namespace, $(this));
        });

    });
</script>
 <!-- footer-->
 <%-include('fragments/footer')%>
 <!-- footer-->
</body>
</html>