<!DOCTYPE html>
<html lang="en">
<head>
  <%-include('fragments/head')%>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/kine.css">
    <title>Kinesiología</title>
</head>
<body>
    <%-include('fragments/navbar',{login:login})%>
    
    
        
                    
                    
                       
                        <section>
                          <div class="especialidades-tag"> </div>
                          <div class="banner-especialidades-single" style="background: url('images/FondoKine.png')">
                            <div class="container title-especialidades-single">

                              <div class="title-especialidades-single-contenedor">
                                <h1 class="especialidad_54">Kinesiología</h1>
                              </div>		
                            </div>
                          </div>
                          <div class="pagina-generica-container">
                            <div class="container container-menu">
                              <div class="pagina-generica-menu">
                                <a href="#general" class="espec_tab">general</a><a href="#personal" class="espec_tab">personal</a><a href="#equipamiento" class="espec_tab">equipamiento</a>
                              </div>
                            </div>
                          </div>
                        </section>
                            
                                
                               
                              
                    
                  
                 

                  <div class="container">
                    <div class="row">
                      <section id="general">
                  <div>   
                    <h2 class="mb-lg-3 mb-3 centrar-texto" style="margin-top: 50px; margin-left: 50px;">
                        ¿Por qué y desde cuando hacemos esto?
                    </h2>

                    <p style="margin-left: 50px; margin-right: 50px;">
                        El objetivo es lograr estabilizar los síntomas de asma,
                        asociados a factores emocionales como disparadores de
                        las crisis de asma, para mejorar la calidad de vida. El
                        asma es una enfermedad crónica q con un abordaje
                        interdisciplinario, puede mejorar su manejo y disminuir
                        las consultas e internaciones. Estamos trabajando en el
                        programa de asma grave desde junio del 2019
                    </p>
                  </div>
                </section>


                




                <section id="personal"> 
                  <div class="row row-cols-1 row-cols-md-3 g-4" style="margin-top: 15px;">
                    <div class="col" style="margin-bottom: 25px;">
                      <div class="card mx-auto text-center" style="width: 300px;">
                        <img src="images/areas/medic1.jpg" class="card-img-top" >
                        <div class="card-body" style="background:rgba(66, 66, 234, 0.367)">
                          <h5 class="card-title" style="color:white; text-shadow: 2px 1px 3px rgb(6 6 6 / 82%);"> Dr Gonzalez </h5>
                          <h6 class="card-text" style="color:white; text-shadow: 2px 1px 3px rgb(6 6 6 / 82%);">Especialidad en kine</h6>
                        </div>
                      </div>
                    </div>
                    <div class="col" style="margin-bottom: 25px;">
                      <div class="card mx-auto text-center" style="width: 300px;">
                        <img src="images/areas/medic2.jpg" class="card-img-top" >
                        <div class="card-body"  style="background:rgba(66, 66, 234, 0.367)">
                          <h5 class="card-title" style="color:white; text-shadow: 2px 1px 3px rgba(6, 6, 6, 0.674);"> Dr Bloom </h5>
                          <h6 class="card-text" style="color:white; text-shadow: 2px 1px 3px rgb(6 ,6,6,0.674);">Especialidad en kine</h6>
                        </div>
                      </div>
                    </div>
                    <div class="col" style="margin-bottom: 25px;">
                      <div class="card mx-auto text-center" style="width: 300px;">
                        <img src="images/areas/medic3.jpg" class="card-img-top" >
                        <div class="card-body" style="background:rgba(66, 66, 234, 0.367)">
                          <h5 class="card-title" style="color:white; text-shadow: 2px 1px 3px rgba(6, 6, 6, 0.674);"> Dr flanders</h5>
                          <h6 class="card-text" style="color:white; text-shadow: 2px 1px 3px rgba(6, 6, 6, 0.674);">Especialidad en kine</h6>
                        </div>
                      </div>
                    </div>
                    <div class="col" style="margin-bottom: 25px;">
                      <div class="card mx-auto text-center" style="width: 300px;">
                        <img src="images/areas/medic4.jpg" class="card-img-top" >
                        <div class="card-body" style="background:rgba(66, 66, 234, 0.367)">
                          <h5 class="card-title" style="color:white; text-shadow: 2px 1px 3px rgba(6, 6, 6, 0.674);"> Dr M.Simpson</h5>
                          <h6 class="card-text" style="color:white; text-shadow: 2px 1px 3px rgba(6, 6, 6, 0.674);">Especialidad en kine</h6>
                        </div>
                      </div>
                    </div>
                    <div class="col" style="margin-bottom: 25px;">
                      <div class="card mx-auto text-center" style="width: 300px;">
                        <img src="images/areas/medic4.jpg" class="card-img-top" >
                        <div class="card-body" style="background:rgba(66, 66, 234, 0.367)">
                          <h5 class="card-title" style="color:white; text-shadow: 2px 1px 3px rgba(6, 6, 6, 0.674);"> Dr J.Simpson</h5>
                          <h6 class="card-text" style="color:white; text-shadow: 2px 1px 3px rgba(6, 6, 6, 0.674);">Especialidad en kine</h6>
                        </div>
                      </div>
                    </div>
                    <div class="col" style="margin-bottom: 25px;">
                      <div class="card mx-auto text-center" style="width: 300px;">
                        <img src="images/areas/medic4.jpg" class="card-img-top" >
                        <div class="card-body" style="background:rgba(66, 66, 234, 0.367)">
                          <h5 class="card-title" style="color:white; text-shadow: 2px 1px 3px rgba(6, 6, 6, 0.674);"> Dr T.Simpson</h5>
                          <h6 class="card-text" style="color:white; text-shadow: 2px 1px 3px rgba(6, 6, 6, 0.674);">Especialidad en kine</h6>
                        </div>
                      </div>
                    </div>
                      
                    </div>
                    
                    <div class="profile-card-4 text-center"><img src="images/areas/medic5.jpg" class="img img-responsive">
                      <div class="profile-content">
                          <div class="profile-name">Dr Gonzalez
                          </div>
                          <div class="profile-description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</div>
                          
                      </div>
                  </div>
              </div>
                </div>
              </div>

              <div class="container mt-2">
                <!--   <div class="card card-block mb-2">
                    <h4 class="card-title">Card 1</h4>
                    <p class="card-text">Welcom to bootstrap card styles</p>
                    <a href="#" class="btn btn-primary">Submit</a>
                  </div>   -->
                  <div class="row">
                    <div class="col-md-3 col-sm-6">
                      <div class="card card-block">
                      <h4 class="card-title text-center">Dr Gonzalez</h4>
                    <img src="images/areas/medic4.jpg" alt="Photo of sunset">
                        <h5 class="card-title mt-3 mb-3">•Kinesiologo</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos eligendi si</p> 
                  </div>
                    </div>
                    
                    
                  
                  </div>
                  
                </div>
                
                </section>




                


           
      </div>
    </div>
   


    <section id="equipamiento"> 
    <div class="container">
      <div class="row">
    <div class="row">
      <div class="row row-cols-1 row-cols-md-3 g-4" style="margin-top: 15px;"> 
        
        
      <div class="col-md-6 col-sm-6 col-lg-6">
          <!-- <div class="col-lg-10 col-md-10 col-12"> -->
              <h2 class=" centrar-texto">
                  Tipos de Asma
              </h2>
              <p class="centrar-texto">
                  <div class="container">
                      <div class="row">
                        <div class="col-md-1 col-sm-2">
                          <img src = "/medical-icons/16.svg" height="30"/>
                        </div>
                        
                        <div class="col-md-8 col-sm-10 fst-italic">
                          <p class="text-asma mb-lg-2 mb-7">
                              Asma Alergica:
                          </p>
                              El asma alérgica es el
                      tipo más común.
                          
                        </div>
                    
                        <!-- Force next columns to break to new line -->
                        <div class="w-100"></div>

                        <div class="col-md-1 col-sm-2">
                          <img src = "/medical-icons/13.svg" height="30"/>
                        </div>
                        <div class="col-md-8 col-sm-10 fst-italic">
                          <P class="text-asma mb-lg-2 mb-7"> Asma Estacional:
                              
                          </P>
                              En el
                              asma estacional, los síntomas reaparecen
                              en ciertas condiciones o en épocas
                              particulares del año.
                           
                       </div>

                       <div class="w-100 mb-lg-2 mb-7"></div>

                       <div class="col-md-1 col-sm-2">
                          <img src = "/medical-icons/28.svg" height="30"/>
                        </div>
                        <div class="col-md-8 col-sm-10 fst-italic">
                          <p class="text-asma">Asma Ocupacional:</p>
                           Las personas con asma ocupacional
                          pueden notar que sus síntomas empeoran
                          mientras trabajan.
                       </div>

                       <div class="w-100"></div>

                       <div class="col-md-1 col-sm-2">
                          <img src = "/medical-icons/20.svg" height="30"/>
                        </div>
                        <div class="col-md-8 col-sm-10 fst-italic">
                          <p class="text-asma mb-lg-2 mb-7">Asma Inducida Ejercicios:</p>
                           El asma inducida por
                          ejercicios ocurre cuando los síntomas
                          aparecen durante o inmediatamente
                          después de hacer ejercicio u otra forma
                          de actividad extenuante.
                       </div >

                       <div class="w-100 "></div>

                       <div class="col-md-1 col-sm-2">
                          <img src = "/medical-icons/50.svg" height="30"/>
                        </div>
                        <div class="col-md-8 col-sm-10 fst-italic">
                          <p class="text-asma mb-lg-2 mb-7">Asma dificl de Controlar:</p>
                          El asma difícil de controlar
                          no es un subtipo o diagnóstico aceptado,
                          sino según pacientes cuesta más
                          controlarla.

                       </div>

                       <div class="w-100"></div>

                       <div class="col-md-1 col-sm-2">
                          <img src = "/medical-icons/38.svg" height="30"/>
                        </div>
                        <div class="col-md-8 col-sm-10 fst-italic">
                          <p class="text-asma mb-lg-2 mb-7">Asma Severa:</p>
                           El asma
                          severa, o el asma frágil, afecta a
                          aproximadamente el 4% de todos los
                          adultos con asma.
                       </div>
                       
                      </div>
                    </div>
                  
              </p>
          </div> 
        
      </div>
  </div>
</div>
</div>
</section>
    
           <!-- footer-->
<%-include('fragments/footer')%>
<!-- footer-->
</body>
</html>