body {
    background: linear-gradient(-45deg, #2a3586, #c1c5d1, #295386, #000000);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    
}

@keyframes gradient {
    0% { 
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.card{
    border-radius: 15px;
    margin-top:280px;
}
.header-title {
    font-family: url(https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap);
}


.login-form .btn.btn-primary {
    margin-top: 10px;
    border-radius: 6px;
    background:#30499B ;
    border-color:#30499B ;

}
