body {
    background: linear-gradient(-45deg, #1e296d, rgb(0, 0, 0), #7a9bc3, #000000);
    background-size: 400% 400%;
    animation: gradient 7s ease infinite;
    
  }
  
  @keyframes gradient {
    0% { 
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
  }


.btn{
    border-radius: 5px;

}
.avatar{
    width: 60px;
    height: 60px;
    position: relative;
    top: -70px; left: -3px;
    bottom: 45px;
    z-index:2;
}

.card{
    bottom: 100px;
    background: rgb(255, 255, 255);
}
.circle { 
    margin: -50px auto;
    width: 70px; 
    height: 70px;
    position: relative;
    top: 45px;
    left: -4px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    
    
  }
  