<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h2 class="mb-lg-2 mb-7 centrar-texto">Contacto</h2>
        <div class="container needs-validation"novalidate>
            <form action="/contactForm" method="post">
                <div class="col-md-6">
                    <label for="titulo">&#128304; Nombre</label>
                </div>
                <div class="col-100">
                    <input
                        type="text"
                        name="nombre"
                        id="nombre"
                        placeholder="Ingresa tu nombre..."
                        required
                    />
                </div>
                <div class="col-md-6">
                    <label for="apellido">&#128213; Apellido</label>
                </div>
                <div class="col-100">
                    <input
                        type="text"
                        name="apellido"
                        id="apellido"
                        placeholder="Agrega tu apellido..."
                        required
                    />
                </div>
                <div class="col-md-6">
                    <label for="email">&#128231; Correo electrónico</label>
                </div>
                <div class="col-100">
                    <input
                        type="text"
                        name="correo"
                        id="correo"
                        placeholder="Ingresa tu correo electronico..."
                        required
                    />
                </div>
                <div class="col-md-6">
                    <label for="telefono">&#128222; Teléfono</label>
                </div>
                <div class="col-100">
                    <input
                        type="text"
                        name="telefono"
                        id="telefono"
                        placeholder="Ingresa tu numero de telefono..."
                        
                    />
                </div>
                <div class="col-md-6">
                    <label for="Consulta">&#128172; Consulta </label>
                </div>
                <div class="col-100">
                    <textarea name="consulta"id="consulta" placeholder="ingresa tu consulta..."  cols="30" rows="10"  required>
                    </textarea>
                    
                   
                </div>
                <div class="row align-items-center">
                    <input type="submit" value="Subir" id="botonsubmit" />
                </div>

            </form>
            
        </div>
        <% if(formulario==1){ %>
            <script>
              const Toast = Swal.mixin({
                toast: true,
                position: "top-end",
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                showCloseButton: true
              });
        
              Toast.fire({
                icon: "error",
                title: "Usuario y/o Contraseña incorrectos",
              });
            </script>
            <% } %>
    </body>
</html>