


    <footer class="text-center text-white" style="background-color: #1c1c1c; margin-top: 25px;">
        <!-- Grid container -->
        <div class="container">
          <div class="row">
          <!-- Section: Social media -->
            <div class="col-md-4">
                    <!-- Facebook -->
          <a
          class="btn btn-link btn-floating btn-lg  m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-facebook-f"></i
        ></a>
        <!-- Twitter -->
        <a
          class="btn btn-link btn-floating btn-lg m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-twitter"></i
        ></a>
    
                <!-- Instagram -->
    <a
      class="btn btn-link btn-floating btn-lg  m-1"
      href="#!"
      role="button"
      data-mdb-ripple-color="dark"
      ><i class="fab fa-instagram"></i
    ></a>
            </div>
        <div class="col-md-4">
            <small class="text-muted ">Programa de asma grave</small>
      </div>
        <div class="col-md-4">
            <small class="text-muted ">Hecho por Proa &#128293;</small>
        </div>
        
    </div> 
</div>
          <!-- Section: Social media -->
        <!-- Grid container -->
      
        <!-- Copyright -->
    
        <!-- Copyright -->
      </footer>
        
      <!-- End of .container -->