<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('head')%>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<body>
    <nav class="navbar navbar-expand-lg bg-light fixed-top shadow-lg">
        <div class="container">
            <a class="navbar-brand mx-auto d-lg-none" href="#hero">
                Programa de Asma Grave
                <strong class="d-block">Hospital Pediátrico del Niño Jesús</strong>
            </a>
            

            <button
                class="navbar-toggler collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div 
                class="navbar-collapse collapse"
                id="navbarNav"
            >
            <div class="container">
                <img
                src="images/LOGO.png"
                width="70"
                style="margin-right:170px ;"
                class="animate__animated animate__backInLeft top-end img-fluid navbar-brand d-none d-lg-block "     
                title="get a vaccine for yourself"
            />
        </div>
        
    </div>
        <div class="container";>
                <ul class="navbar-nav mx-auto">
                    
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Inicio</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#about">Sobre</a>
                    </li>            

                    <a class="animate__animated animate__backInDown navbar-brand d-none d-lg-block">
                        Programa de Asma Grave<strong class="d-block subtitule " style="color:white">Hospital Pediátrico del Niño Jesús</strong>
                    </a>

                    <li class="nav-item">
                        <a class="nav-link" href="/seccionAdmin"
                            >Admin</a
                        >
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link active" href="#contact"
                            >Contacto</a
                        >
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Divisiones
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                          <a class="dropdown-item" href="/kinesiologia">Kinesiologia</a>
                          <a class="dropdown-item" href="/saludmental">Saludmental</a>
                          <a class="dropdown-item" href="/neumonologia">Neumonologia</a>
                        </div>
                      </li>
                  
                    <% if(login){ %>
                        <li class="nav-item">
                            <button type="button" class="btn btn-outline-primary botoncerrarsesion"><a href="/logout"
                                >Cerrar sesion</a
                            ></button>
                    </li>
                 <% } else{ %>
                <li class="nav-item">
                    <button type="button" class="btn btn-outline-primary botoninicio"><a href="/login"
                        >Ingresar</a
                    ></button>
                    
                </li>
                <%}%>
                
                </ul>
            </div>
            
            
        
    </nav>
    
</body>
</html>